{# Variables needed to evaluate this template: job_name, job_def #}
<form class="remote js-job-form" action="/jobs/update" data-target="#content" method="post" autocomplete="off">
	<div class="fld">
		<label class="fld-lbl">Name</label>
		<div class="fld-bdy">
			<input type="text" name="job_name" id="name" style="width:200px;" placeholder="MyCoolJob (no spaces allowed)" value="{{ job_name }}"/>
		</div>
	</div>
	<div class="fld">
		<label class="fld-lbl">Command</label>
		<div class="fld-bdy">
			<textarea name="job_args|cmd" id="command" placeholder="echo Hello World" >{{ job_def.get('job_args', {}).get('cmd', '') }}</textarea>
		</div>
	</div>
	<div class="fld">
		<label class="fld-lbl">Cron Schedule</label>
		<div class="fld-bdy">
			<table>
				<tr><td>cronstring</td><td><input type="text" name="cron_args|cronstring" id="cron_schedule" placeholder="5 4 * * *" value="{{ job_def.get('cron_args', {}).get('cronstring', '') }}" /></td></tr>
				<tr><td colspan="2" style="text-align:center;"><em>or</em></td></tr>
				{% for key in ['year', 'month', 'day', 'week', 'day_of_week', 'hour', 'minute', 'second', 'start_date', 'end_date', 'timezone', 'jitter'] %}
					<tr><td>{{ key }}</td><td><input type="text" name="cron_args|{{ key }}" id="cron_{{ key }}" value="{{ job_def.get('cron_args', {}).get(key, '')}}" /></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="fld">
		<label class="fld-lbl">Lock</label>
		<div class="fld-bdy">
			<input type="radio" name="job_args|lock" value="1" {{ "checked" if job_def.get('job_args', {}).get('lock', True) else "" }} /> Yes<br>
			<input type="radio" name="job_args|lock" value="0" {{ "" if job_def.get('job_args', {}).get('lock', True) else "checked" }} /> No
		</div>
	</div>
	<div class="fld">
		<label class="fld-lbl">TTL</label>
		<div class="fld-bdy">
			<input type="number" name="job_args|ttl" value="{{ job_def.get('job_args', {}).get('ttl', '') }}">
		</div>
	</div>
	<div class="fld">
		<label class="fld-lbl">Status</label>
		<div class="fld-bdy">
			<span class="select">
				<span>Active</span>
				<select name="job_state|paused" id="paused" style="">
					<option value="0" {{ '' if job_def.get('job_state', {}).get('paused', False) else 'selected="selected"' }}>Active</option>
					<option value="1" {{ 'selected="selected"' if job_def.get('job_state', {}).get('paused', False) else '' }}>Paused</option>
				</select>
			</span>
		</div>
	</div>
	<div class="modalcontrols">
		<button type="submit" class="button"><span>Save</span></button>
	</div>
	<input type="hidden" name="original_name" value="{{ job_name }}">
</form>

<script>
	$(document).ready(function(){
		$('.js-job-form').submit(function(){
			var name = $.trim($('#name').val());
			var command = $.trim($('#command').val());
			var cron = $.trim($('#cron_schedule').val());
			if(name.length == 0 || command.length == 0 ) {
				alert("Please enter a name, a command, and a schedule");
				return false;
			}
			else {
				if ( name.match(/^[a-z0-9\-_]+$/i)) {
					if ( cron.length == 0 || cron.match(/(@(annually|yearly|monthly|weekly|daily|hourly|reboot))|(@every (\d+(ns|us|µs|ms|s|m|h))+)|((((\d+,)+\d+|(\d+(\/|-)\d+)|\d+|\*) ?){5,7})/) ) {
						return true;
					}
					else {
						alert("Please enter a valid cron schedule");
						return false;
					}
				}
				else {
					alert("Please enter a valid job name (no spaces allowed)");
					return false;
				}
			}
		});
	});
</script>