{% extends "layout.html.j2" %}

{# Variables needed to evaluate this template: active_runs, completed_runs, failed_runs, jobs #}

{% from 'macros.html.j2' import job_action, run_table with context %}
{% block title %}Cronken{% endblock %}
{% block content %}

<h4>Running</h4>
{{ run_table(active_runs, ['output', 'rerun', 'terminate', 'kill']) }}

<h4>Completed</h4>
{{ run_table(completed_runs, ['output', 'rerun']) }}

<h4>Failed</h4>
{{ run_table(failed_runs, ['output', 'rerun']) }}

{% endblock %}