{% macro run_table(run_data, valid_actions) %}
  <div style="margin-bottom:2em;">
    {% if run_data %}
    <table style="width:100%;" cellspacing="0" class="rowhighlight" id="running-table">
      <thead>
        <tr>
          <th>Started</th><th>Name</th><th>Run ID</th><th>Server</th><th>Runtime</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for run in run_data %}
        <tr>
          <td>{{ run["start_time"] }}</td>
          <td>{{ run["job_name"] }}</td>
          <td>{{ run["run_id"] }}</td>
          <td>{{ run["host"] }}</td>
          <td>{{ run["duration"] }}</td>
          <td>
            {% if 'output' in valid_actions %}
            <button title="View output" data-url="/runs/{{ run['run_id'] }}/output" data-dialog-title="Run {{ run['run_id'] }}" class="btn btn-sm btn-primary job-output">
              <i class="fa fa-terminal"></i>
            </button>
            {% endif %}
            {% if 'rerun' in valid_actions %}
            <button title="Run again" data-url="/runs/{{ run['run_id'] }}/rerun" data-confirm="Are you sure you want to run this job again?" class="btn btn-sm btn-primary run-action">
              <i class="fa fa-sync"></i>
            </button>
            {% endif %}
            {% if 'terminate' in valid_actions %}
            <button title="Terminate" data-url="/runs/{{ run['run_id'] }}/terminate" data-confirm="Are you sure you want to terminate this job?" class="btn btn-sm btn-primary run-action">
              <i class="fa fa-ban"></i>
            </button>
            {% endif %}
            {% if 'kill' in valid_actions %}
            <button title="Kill" data-url="/runs/{{ run['run_id'] }}/kill" data-confirm="Are you sure you want to kill this job?" class="btn btn-sm btn-primary run-action">
              <i class="fa fa-bomb"></i>
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-secondary" role="alert">No runs found</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro job_action(link_text, target_url, extra_classes) %}
  <a class="dropdown-item {{ ' '.join(extra_classes) }}" href="{{ target_url }}">{{ link_text }}</a>
{% endmacro %}