{% extends "layout.html.j2" %}

{# Variables needed to evaluate this template: title, output #}

{% block title %}Cronken - {{ title }}{% endblock %}
{% block content %}
{% if output %}
  <pre>
  {%- for line in output -%}
    {{ line }}{{ "\n" }}
  {%- endfor %}
  </pre>
{% else %}
CRONKEN: no output
{% endif %}
{% endblock %}