{% extends "layout.html.j2" %}

{# Variables required to evaluate this template: queue_friendly_name, job_name, run_data, next_url #}

{% from 'macros.html.j2' import run_table with context %}
{% block title %}{{ queue_friendly_name }} for {{ job_name }}{% endblock %}
{% block content %}
<h4>{{ queue_friendly_name }} for {{job_name}}</h4>

{{ run_table(run_data, ['output']) }}

{% if next_url %}
  <div style="background-color:var(--black-050); padding:9px;">
    <a href="{{ next_url }}" class="remote_nav" style="float:right;">Next</a>&nbsp;
  </div>
{% endif %}
{% endblock %}